* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eae3de;
}


h1 {
    font-family: montserrat;
    color: #0020d0;
    font-size: 4em;
}

h2 {
    color: white;
    font-family: montserrat;
}

h3 {
    color: black;
    font-family: montserrat;
    font-size: 2.5em;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.8em;
}


/*------------------------------------------ BACKGROUND GRID ------------------------------*/

.grid {
    background-image: url("../img/gridbackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 60px 60px 0px 0px;
}

/*------------------------------------------ STYLING OF THE BURGER MENU ------------------------------*/
.menu {
    z-index: 90;
    position: fixed;
    top: 20px;
    right: 50px;
    font-family: montserrat;
    color: white;
    font-size: 2.3em;
    font-weight: bold;
    float: right;
}

/*-----------------THE BURGER MENU ----------------*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 32, 208);
    /* Black fallback color */
    background-color: rgba(0, 32, 208, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {

    padding: 8px;
    text-decoration: none;
    font-size: 70px;
    color: #0020d0;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    text-shadow: -1px -1px 0 #eae3de, 1px -1px 0 #eae3de, -1px 1px 0 #eae3de, 1px 1px 0 #eae3de;
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #ffffff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*-----------------STYLING OF LOGO----------------*/
.logo {
    z-index: 100;
    position: fixed;
    left: 50px;
    top: 20px;
    height: 50px;
    width: auto;
}

/*-----------------STYLING OF SOCIAL MEDIA----------------*/

.instagram,
.facebook {
    color: #eae3de;
    text-shadow: -1px -1px 0 #0020d0, 1px -1px 0 #0020d0, -1px 1px 0 #0020d0, 1px 1px 0 #0020d0;
    text-decoration: none;
}

.overlay2 a:hover,
.overlay2 a:focus {
    color: #0020d0;
}



#social {
    position: fixed;
    top: 300px;
    right: -190px;
    font-size: 1.5em;
    letter-spacing: 5px;
    font-family: montserrat;
    transform: rotate(90deg);
}


/*-----------------MAIN----------------*/

.parentContainer2 {

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 30%;
}

/*

.vr {
    position: absolute;
    color: #0020d0;
    font-family: Montserrat;
    font-weight: bold;
    top: 150px;
    left: -90px;
    font-size: 8em;
}

.event {
    position: absolute;
    color: #0020d0;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 8em;
    bottom: 150px;
    left: 200px;
}

.frontImage {
    padding-top: 60px;
} */

/*-----------------DOT----------------*/

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f0370b;
    display: inline-block;
    animation: moveUpDown 3s linear infinite;
    position: absolute;
    bottom: 0;
    left: 48.1%;
}

@keyframes moveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 80px;
    }
}

/*-----------------LINJER----------------*/

.tilmeld a {
    font-family: Montserrat;
    text-decoration: none;
    color: #eae3de;
    text-shadow: -1px -1px 0 #0020d0, 1px -1px 0 #0020d0, -1px 1px 0 #0020d0, 1px 1px 0 #0020d0;
}

.tilmeld a:hover,
.tilmeld a:focus {
    text-decoration: none;
    color: #0020d0;
}

/*-----------------FOTOGRAFI----------------*/

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    margin-top: 100px;
}

.column1,
.column2 {
    flex-basis: 100px;
    flex-grow: 2;
    padding: 20px;
}

.linjeheader {
    color: #0020d0;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 100px;
}

.billedkunstHeadline {
    font-size: 90px;
}

.beklædningsdesignHeadline {
    font-size: 50px;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

/* -------------------WRAPPER OF LINJER------------------------- */
.content-wrapper {
    padding-top: 60px;
    margin-bottom: 2em;
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* ------------------LINJER BOXES------------------------- */

.linjerHeadline {
    padding-top: 60px;
}

.beklædningsdesign h2 {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
}

.arkitektur h2 {
    vertical-align: middle;
    background: url(../img/Exhibition/arkitektur.jpg) top left/ cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.billedkunst h2 {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.foto h2 {
    background: url(../img/Exhibition/foto.png) top left/ cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    height: 400px;
}

/* ------------------------------- SMALLER WRAPPER OF LINJER ---------------------------------- */

.flex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-child {
    width: 100%;
    height: 200px;
}

.flex-child1 {
    width: 100%;
    height: 400px;
}

.flex-child2 {
    width: 50%;
    height: 400px;
}

/* ------------------------------------- BEKLÆDNINGSDESIGN BOX ---------------------------------- */
.beklædningsdesign {
    background-color: #0020d0;
}

.beklædningsdesign:hover {
    background-color: rgba(0, 32, 208, 0.4);
}

/* ---------------------------------------- ARKITEKTUR BOX --------------------------------- */
.arkitektur {
    background-color: #0020d0;
}

.arkitektur :hover {
    opacity: 60%;
}

/* --------------------------------------- BILLEDKUNST BOX ------------------------------------ */

.billedkunst {
    background-color: #0b2a48;
}

.billedkunst:hover {
    background-color: rgba(0, 0, 100, 0.4);
}

/* ------------------------------------------- FOTO BOX --------------------------------------- */

.foto :hover {
    opacity: 60%;
}

/* -------------------ABOUT SECTION---------------------- */
#linjer {
    text-align: center;
}

#about {
    text-align: center;
}


.aboutHeadline {
    padding-top: 60px;
}

.frontImage2 {
    padding-top: 60px;
}

.aboutLine1 h3,
.aboutLine2 h3 {
    text-align: left;
}

.aboutLine3 h3,
.aboutLine4 h3 {
    text-align: right;
}

.parentContainer2 a :hover {
    color: white;
}


.aboutLine1 {
    display: block;
    position: absolute;
    top: 20%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    animation: line1 2s linear forwards;
}

@keyframes line1 {
    from {
        right: 70%;
        width: 0%;
    }

    to {
        right: 70%;
        width: 80%;
    }
}

.aboutLine2 {
    display: block;
    position: absolute;
    top: 80%;
    right: 40%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line2 2s linear forwards;
}

@keyframes line2 {
    from {
        right: 90%;
        width: 0%;
    }

    to {
        right: 90%;
        width: 80%;
    }
}

.aboutLine3 {
    display: block;
    position: absolute;
    top: 25%;
    left: 80%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line3 2s linear forwards;
}

@keyframes line3 {
    from {
        right: -60%;
        width: 20%;
    }

    to {
        right: -60%;
        width: 80%;
    }
}

.aboutLine4 {
    display: block;
    position: absolute;
    top: 75%;
    left: 90%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line4 2s linear forwards;
}

@keyframes line4 {
    from {
        right: -60%;
        width: 20%;
    }

    to {
        right: -60%;
        width: 100%;
    }
}




/*---------------------------------------- CODE FROM JANNECK ---------------------------*/
.vrUdstilling {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.UdstillingsWrapper {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

h5 {
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    color: #1d01d3;
    font-size: calc(50px + 60 * ((100vw - 320px) / 1080));
}

.vrHeadline {
    align-self: start;
    justify-self: end;
    margin-right: -30%;
    position: relative;
    z-index: 10;
}

.udstillingHeadline {
    justify-self: start;
    align-self: end;
    margin-left: -50%;
}

img {
    width: 100%;
    width: calc(150px + 400 * ((70vw - 320px) / 1080));
    object-fit: cover;
}


/* ----------------------- BACKEND WORDPRESS - WEBSITE CODE ----------------------- */
#udstillinger {
    text-align: center;
}

.UdstillingerHeadline {
    padding-top: 60px;
}

.exhibition-wrapper {
    padding-top: 60px;
    margin-bottom: 2em;
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.musicContainer {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5em;
}

.artwork img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork {
    background-color: white;
    position: relative;
}

.artworkTitle {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0020d050;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.dropShadow {
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

.dropShadow:hover {
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.2);
}

.songTitle {
    font-family: montserrat;
    font-weight: bold;
    text-transform: uppercase;
    hyphens: auto;
    color: white;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.songDate {
    color: white;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.artwork:hover .artworkTitle {
    opacity: 1;
}


/* ---------------------------------------- FOOTER -------------------------------- */

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 180px;
    background-color: #0020d0;
}

.sectionwrapper p,
a {
    padding-top: 80px;
    color: white;
    font-family: montserrat;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}



/*------------------------------------------ MEDIA QUERIES -------------------------------*/
@media screen and (max-width: 670px) {

    .overlay a {
        text-align: left;
        font-size: 50px;
    }

    .vrUdstilling {
        margin-left: 20%;
    }

    .udstillingHeadline {
        position: absolute;
        top: 200px;
        left: 90px;
    }

    .frontImage2 {
        padding-left: 40%;
    }

    .parentContainer2 h3 {
        text-align: left;
    }

    .aboutLine1 {
        top: 20%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line1 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .aboutLine2 {
        top: 40%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line2 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .aboutLine3 {
        top: 60%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line3 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .aboutLine4 {
        top: 80%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line4 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }
}


@media screen and (max-width: 780px) {
    .sectionwrapper p {
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 1500px) {
    .dot {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    .vrUdstilling {
        padding-top: 50px;
        hyphens: auto;
    }

    .udstillingHeadline {
        hyphens: auto;
        margin-right: 200px;
    }

    #social {
        position: fixed;
        top: 220px;
        right: -120px;
        font-size: 1em;
        letter-spacing: 4px;

    }

    .flex h2 {
        font-size: 1em;
        hyphens: auto;
    }

    .parentContainer2 h3 {
        font-size: 1em;
        hyphens: auto;
    }
}