@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700;800;900&display=swap");


/*------------------------------------------ GENERAL ADJUSTMENTS------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: #eae3de;
}

.column1 p {
    font-family: "Helvetica", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #0020d0;
    font-size: 4em;
}

h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
}

h3 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.8em;
}

/*------------------------------------------ BACKGROUND GRID ------------------------------*/

.grid {
    background-image: url("../img/gridbackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 60px 60px 0px 0px;
}

/*-----------------STYLING OF LOGO----------------*/
.logo {
    z-index: 100;
    position: fixed;
    left: 30px;
    top: 19px;
    height: 30px;
    width: auto;
}

/*-----------------STYLING OF SOCIAL MEDIA----------------*/

.instagram,
.facebook {
    color: #eae3de;
    text-shadow: -1px -1px 0 #0020d0, 1px -1px 0 #0020d0, -1px 1px 0 #0020d0, 1px 1px 0 #0020d0;
    text-decoration: none;
}

.overlay2 a:hover,
.overlay2 a:focus {
    color: #0020d0;
}

#social {
    position: fixed;
    top: 300px;
    right: -190px;
    font-size: 1.5em;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    transform: rotate(90deg);
}

/*------------------------------------------ STYLING OF THE BURGER MENU ------------------------------*/
.menu {
    z-index: 40;
    position: fixed;
    top: 20px;
    right: 50px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 2.3em;
    font-weight: bold;
    float: right;
}

/*-----------------THE BURGER MENU ----------------*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 50;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 32, 208);
    /* Black fallback color */
    background-color: rgba(0, 32, 208, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 70px;
    color: #0020d0;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    text-shadow: -1px -1px 0 #eae3de, 1px -1px 0 #eae3de, -1px 1px 0 #eae3de, 1px 1px 0 #eae3de;
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #ffffff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* Media query for when the height of the screen is less than 450 pixels */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*-----------------MAIN----------------*/

.parentContainer2 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 30%;
    padding-bottom: 60px;
}

/*----------------- OPACITY WHEN SCROLLED ON WEBSITE ----------------------*/
.inline-photo {
    opacity: 0;
    -webkit-transition: opacity 3s 0.25s ease-out, -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: opacity 0.3s 0.25s ease-out, -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out,
        -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);

    will-change: transform, opacity;
}

.inline-photo.is-visible {
    opacity: 1;
}

.links {
    padding-top: 10px;
}

.links a {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #0020d0;
    list-style: none;
    margin: 0 0 20px 0;
}

.links a:hover {
    color: white;
}

/*---------------------------------- NEW EXHIBITION FRONT-------------------------*/
.Exhibition-container {
    margin: 20px;
    text-align: center;
}

h5 {
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    color: #1d01d3;
    font-size: calc(50px + 60 * ((100vw - 320px) / 1080));
}

.Virtual-title {
    z-index: 10;
    position: absolute;
}

.Exhibition-title1 {
    z-index: 10;
    position: relative;
    left: 200px;
    bottom: 140px;
    hyphens: auto;
}

.Exhibition-title2 {
    display: none;
}

img {
    object-fit: cover;
}

.ExhibitionImage img {
    width: 50%;
}

/*---------------------------------- PULSE ANIMATION AND OPACITY WHEN HOVERED-------------------------*/
.ExhibitionImage :hover {
    box-shadow: -webkit-box-shadow 10px 10px 40px 0px rgba(0, 0, 0, 15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 15);
    transform: scale(1);
    animation: pulse 2s infinite;
    opacity: 60%;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

/*-----------------DOT----------------*/

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f0370b;
    display: inline-block;
    animation: moveUpDown 3s linear infinite;
    position: absolute;
    bottom: 0;
    left: 48.1%;
}

@keyframes moveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 80px;
    }
}

/*---------------------------------- UDSTILLING SITE -------------------------*/
.box-container {
    padding-top: 60px;
    text-align: center;
}

.box {
    padding-top: 30px;
    display: inline-block;
}

iframe {
    border: 0;
    box-shadow: -webkit-box-shadow 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

/*---------------------------------- UDSTILLINGER SITE (ADJUSTING TITLES AND FRAMES) -------------------------*/
.mobileheader {
    display: none;
}

.udstilMobile {
    display: none;
}

/*-----------------ADJUSTMENTS FOR EACH LINJE SITE----------------*/

.wrapper {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 0px 50px 50px;
}

.column1,
.column2 {
    flex-basis: 100px;
    flex-grow: 2;
    padding-left: 20px;
}

.column2 {
    padding-top: 80px;
}

.column2 img {
    width: 100%;
    box-shadow: -webkit-box-shadow 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

.linjeheader {
    color: #0020d0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    padding-bottom: 20px;
}

.linjeheader2 {
    hyphens: auto;
    color: #0020d0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    padding-bottom: 20px;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

/*---- ARROWS FOR CLICKING THROUGH LINJE (SO YOU DON'T HAVE TO GO TO FRONTPAGE EACH TIME ------*/
.arrows {
    padding-left: 55px;
    padding-bottom: 85px;
}

.linje_arrow1 img {
    animation: left 2s linear infinite;
    position: absolute;
    padding: 10px;
    width: 80px;
    height: 50px;
}

@keyframes left {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

.linje_arrow2 img {
    animation: right 2s linear infinite;
    position: absolute;
    left: 180px;
    padding: 10px;
    width: 80px;
    height: 50px;
}

@keyframes right {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0);
    }
}

/*-----------------TILMELD BUTTON ON EACH LINJE SITE----------------*/
.tilmeld a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #eae3de;
    text-shadow: -1px -1px 0 #0020d0, 1px -1px 0 #0020d0, -1px 1px 0 #0020d0, 1px 1px 0 #0020d0;
}

.tilmeld a:hover,
.tilmeld a:focus {
    text-decoration: none;
    color: #0020d0;
}

/* -------------------WRAPPER OF LINJER ON FRONT PAGE------------------------- */
#linjer {
    text-align: center;
}

.content-wrapper {
    padding-top: 60px;
    margin-bottom: 2em;
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.flex {
    box-shadow: -webkit-box-shadow 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

/* ------------------LINJER BOXES------------------------- */

.linjerHeadline {
    padding-top: 60px;
}

.beklædningsdesign h2 {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
}

.arkitektur h2 {
    vertical-align: middle;
    background: url(../img/Exhibition/arkitektur.jpg) top left/ cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.billedkunst h2 {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.foto h2 {
    background: url(../img/Exhibition/foto.png) top left/ cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    height: 400px;
}

/* ------------------------------- SMALLER WRAPPER OF LINJER ---------------------------------- */

.flex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-child {
    width: 100%;
    height: 200px;
}

.flex-child1 {
    width: 100%;
    height: 400px;
}

.flex-child2 {
    width: 50%;
    height: 400px;
}

/* ------------------------------------- BEKLÆDNINGSDESIGN BOX ---------------------------------- */
.beklædningsdesign {
    background-color: #0020d0;
}

.beklædningsdesign:hover {
    background-color: rgba(0, 32, 208, 0.4);
}

/* ---------------------------------------- ARKITEKTUR BOX --------------------------------- */
.arkitektur {
    background-color: #0020d0;
}

.arkitektur :hover {
    opacity: 60%;
}

/* --------------------------------------- BILLEDKUNST BOX ------------------------------------ */

.billedkunst {
    background-color: #0b2a48;
}

.billedkunst:hover {
    background-color: rgba(0, 0, 100, 0.4);
}

/* ------------------------------------------- FOTO BOX --------------------------------------- */

.foto :hover {
    opacity: 60%;
}

/* -------------------ABOUT SECTION---------------------- */

#about {
    text-align: center;
}

.aboutHeadline {
    padding-top: 60px;
    padding-bottom: 60px;
}

.frontImage2 {
    box-shadow: -webkit-box-shadow 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

/* -------------------TEXT AND LINES IN OM VERA SECTION---------------------- */
.aboutLine1 h3,
.aboutLine2 h3 {
    text-align: left;
}

.aboutLine3 h3,
.aboutLine4 h3 {
    text-align: right;
}

.parentContainer2 a :hover {
    color: white;
}

.aboutLine1 {
    display: block;
    position: absolute;
    top: 20%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    animation: line1 2s linear forwards;
}

@keyframes line1 {
    from {
        right: 70%;
        width: 0%;
    }

    to {
        right: 70%;
        width: 80%;
    }
}

.aboutLine2 {
    display: block;
    position: absolute;
    top: 80%;
    right: 40%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line2 2s linear forwards;
}

@keyframes line2 {
    from {
        right: 90%;
        width: 0%;
    }

    to {
        right: 90%;
        width: 80%;
    }
}

.aboutLine3 {
    display: block;
    position: absolute;
    top: 25%;
    left: 80%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line3 2s linear forwards;
}

@keyframes line3 {
    from {
        right: -60%;
        width: 20%;
    }

    to {
        right: -60%;
        width: 80%;
    }
}

.aboutLine4 {
    display: block;
    position: absolute;
    top: 75%;
    left: 90%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line4 2s linear forwards;
}

@keyframes line4 {
    from {
        right: -60%;
        width: 20%;
    }

    to {
        right: -60%;
        width: 100%;
    }
}

/* ----------------------- STYLING OF UDSTILLING SITE USING THE WP BACKEND ----------------------- */

.UdstillingerHeadline {
    hyphens: auto;
    text-align: center;
    padding-top: 60px;
}

.exhibition-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.eventContainer {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5em;
}

.artwork img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork {
    width: 350px;
    height: 350px;
    background-color: white;
    position: relative;
}

.artworkTitle {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0020d050;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.dropShadow {
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

.dropShadow:hover {
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.2);
}

.eventTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20%;
    hyphens: auto;
    color: white;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.eventDate {
    color: white;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.artwork:hover .artworkTitle {
    opacity: 1;
}

/* ---------------------------------------- FOOTER -------------------------------- */
footer {
    margin-top: auto;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 180px;
    background-color: #0020d0;
}

.sectionwrapper p,
a {
    padding-top: 80px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}





/*------------------------------------------ MEDIA QUERIES F. MOBILE VERSION-------------------------------*/
@media screen and (max-width: 670px) {

    /*------------------ EXHIBITION FRAMES AND TITLES CHANGE----------------------*/
    .billedkunstHeadline {
        display: none;
    }

    .mobileheader {
        display: block;
    }

    .udstilMobile {
        display: block;
        text-align: left;
        margin: 30px;
        font-size: 3em;
    }


    /*------------------ GENERAL ADJUSTMENTS ON MOBILE VERSION ----------------------*/
    .logo {
        left: 30px;
        top: 27px;
        height: 22px;
    }

    .menu {
        right: 20px;
    }

    .grid {
        background-repeat: repeat;
    }

    .content-wrapper {
        margin-left: 34px;
        margin-right: 0;
        max-width: 90%;
    }

    .overlay a {
        padding-left: 30px;
        text-align: left;
        font-size: 2.5em;
    }

    /*------------------ ROTATE BEKLÆDNINGSTITLE FOR MOBILE VERSION ----------------------*/
    .beklædningsdesign h2 {
        transform: rotate(90deg);
        letter-spacing: 2px;
    }

    /*------------------ EXHIBITION FRONT GIF AND TITLES ----------------------*/
    .exhibition-wrapper {
        width: 100%;
        margin-left: 60px;
        padding-top: 0px;
    }

    .Exhibition-container {
        margin-left: 50px;
    }

    .ExhibitionImage img {
        width: 60%;
    }

    .Exhibition-title1 {
        display: none;
    }

    .Exhibition-title2 {
        text-align: left;
        display: block;
        position: absolute;
        top: 220px;
        left: 50px;
    }

    /*------------------ UDSTILLINGER ----------------------*/
    .artwork {
        width: 250px;
        height: 250px;
    }

    #linjer h1 {
        font-size: 2em;
    }

    #about h1 {
        font-size: 2em;
    }

    /*----------------- OM VERA ----------------------*/

    .frontImage2 {
        padding-left: 20px;
        height: 300px;
        width: 200px;
    }

    .parentContainer2 h3 {
        text-align: left;
    }

    .aboutLine1 {
        top: 5%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line1 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .aboutLine2 {
        top: 25%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line2 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .aboutLine3 {
        top: 45%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line3 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .aboutLine4 {
        top: 65%;
        left: -80%;
        border-bottom: 2px solid black;
    }

    @keyframes line4 {
        from {
            right: -10%;
            width: 0%;
        }

        to {
            right: -10%;
            width: 170px;
        }
    }

    .sectionwrapper p {
        font-size: 0.9rem;
    }

    .wrapper {
        margin-left: -35px;
    }

    .linjeheader {
        hyphens: auto;
        font-size: 3em;
        padding-bottom: 20px;
    }

    .linjeheader2 {
        hyphens: auto;
        font-size: 2em;
    }
}


@media screen and (max-width: 900px) {

    /*----------- DOT DISAPPEARS WHEN FRAME SIZE IS ADJUSTED --------- */
    .dot {
        display: none;
    }

    #social {
        position: fixed;
        top: 220px;
        right: -120px;
        font-size: 1em;
        letter-spacing: 4px;
    }

    .flex h2 {
        font-size: 1em;
        hyphens: auto;
    }

    .parentContainer2 h3 {
        font-size: 1em;
        hyphens: auto;
    }
}