* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    background-color: #eae3de;
}

.grid {
    background-image: url("../img/gridbackground.png");
    background-repeat: repeat;
    margin: 60px 60px 0px 0px;
}

/*-----------------STYLING OF THE BURGER MENU----------------*/
.menu {
    position: absolute;
    top: 20px;
    right: 50px;
    font-family: montserrat;
    color: white;
    font-size: 2.3em;
    font-weight: bold;
    float: right;
}

/*-----------------THE BURGER MENU ----------------*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 32, 208);
    /* Black fallback color */
    background-color: rgba(0, 32, 208, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 70px;
    color: #0020d0;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    text-shadow: -1px -1px 0 #eae3de, 1px -1px 0 #eae3de, -1px 1px 0 #eae3de, 1px 1px 0 #eae3de;
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #ffffff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*-----------------STYLING OF LOGO----------------*/
.logo {
    position: absolute;
    left: 50px;
    top: 20px;
    height: 50px;
    width: auto;
    float: left;
}

/*-----------------STYLING OF SOCIAL MEDIA----------------*/

.instagram,
.facebook {
    color: #eae3de;
    text-shadow: -1px -1px 0 #0020d0, 1px -1px 0 #0020d0, -1px 1px 0 #0020d0, 1px 1px 0 #0020d0;
    text-decoration: none;
}

.overlay2 a:hover,
.overlay2 a:focus {
    color: #0020d0;
}

#social {
    position: absolute;
    top: 300px;
    right: -160px;
    font-size: 1.5em;
    letter-spacing: 5px;
    font-family: montserrat;
    transform: rotate(90deg);
}

/*-----------------MAIN----------------*/

.parentContainer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 30%;
}

.vr {
    position: absolute;
    color: #0020d0;
    font-family: Montserrat;
    font-weight: bold;
    top: 150px;
    left: -90px;
    font-size: 8em;
}

.event {
    position: absolute;
    color: #0020d0;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 8em;
    bottom: 150px;
    left: 200px;
}

.frontImage {
    padding-top: 60px;
}

/*-----------------LINJER----------------*/

.tilmeld a {
    font-family: Montserrat;
    text-decoration: none;
    color: #eae3de;
    text-shadow: -1px -1px 0 #0020d0, 1px -1px 0 #0020d0, -1px 1px 0 #0020d0, 1px 1px 0 #0020d0;
}

.tilmeld a:hover,
.tilmeld a:focus {
    text-decoration: none;
    color: #0020d0;
}

/*-----------------FOTOGRAFI----------------*/

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    margin-top: 100px;
}

.column1,
.column2 {
    flex-basis: 100px;
    flex-grow: 2;
    padding: 30px;
}

.linjeheader {
    color: #0020d0;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 100px;
}

.billedkunstHeadline {
    font-size: 90px;
}

.beklædningsdesignHeadline {
    font-size: 50px;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

/* -------------------WRAPPER OF LINJER------------------------- */
.content-wrapper {
    padding-top: 100px;
    margin-bottom: 2em;
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

h2 {
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: montserrat;
}

/* -------------------SMALLER WRAPPER OF LINJER------------------------- */

.flex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-child {
    width: 100%;
    height: 200px;
}

.flex-child1 {
    width: 100%;
    height: 400px;
}

.flex-child2 {
    width: 50%;
    height: 400px;
}

/* -------------------BEKLÆDNINGSDESIGN BOX---------------------- */
.beklædningsdesign {
    background-color: #0020d0;
}

/* -------------------BILLEDKUNST BOX---------------------- */

.billedkunst :hover {
    opacity: 60;
}

.billedkunst {
    background-color: #0b2a48;
}

/* -------------------FOTO BOX---------------------- */

.foto :hover {
    opacity: 60%;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------------ARKITEKTUR BOX---------------------- */
.arkitektur {
    background-color: #0020d0;
}

.arkitektur :hover {
    opacity: 60%;
}

.arkitektur img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
}

/* -------------------ABOUT SECTION---------------------- */

.about {
    text-align: center;
}

h1 {
    font-family: montserrat;
    color: #0020d0;
    font-size: 4em;
}

h3 {
    color: black;
    font-family: montserrat;
    font-size: 3em;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.8em;
}

.frontImage2 {
    padding-top: 20px;
}

.aboutLine1 {
    display: block;
    position: absolute;
    top: 20%;
    right: 20%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line1 2s linear forwards;
}

@keyframes line1 {
    from {
        right: 70%;
        width: 0%;
    }

    to {
        right: 70%;
        width: 90%;
    }
}

.aboutLine2 {
    display: block;
    position: absolute;
    top: 80%;
    right: 40%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line2 2s linear forwards;
}

@keyframes line2 {
    from {
        right: 80%;
        width: 0%;
    }

    to {
        right: 80%;
        width: 70%;
    }
}

.aboutLine3 {
    display: block;
    position: absolute;
    top: 25%;
    left: 70%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line3 2s linear forwards;
}

@keyframes line3 {
    from {
        right: -60%;
        width: 20%;
    }

    to {
        right: -60%;
        width: 80%;
    }
}

.aboutLine4 {
    display: block;
    position: absolute;
    top: 75%;
    left: 90%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0%;
    text-align: center;
    animation: line4 2s linear forwards;
}

@keyframes line4 {
    from {
        right: -60%;
        width: 20%;
    }

    to {
        right: -60%;
        width: 85%;
    }
}

/* -------------------FOOTER---------------------- */

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 180px;
    margin-top: 30px;
    background-color: #0020d0;
}

.sectionwrapper p,
a {
    padding-top: 80px;
    color: white;
    font-family: montserrat;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    .sectionwrapper p {
        font-size: 0.9rem;
    }
}
